body {
  padding: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red{
  color: red;
}
.green {
  color: green;
}
.amber {
  color: 	#FEBC14;
}
.blue {
  color: 	blue;
}
.grey{
  color: #595959;
}
.maroon{
  color: maroon;
}
.emphasis{
  font-weight: 600;
}

label.control-label {
  font-size: 12px;
  font-weight: 600;
}

div.scroll {
  float:left;
  width:1000px;
  overflow-y: auto;
  height: 500px;
}

input.form-control, select.form-control {
  font-size: 11px !important;
  font-weight: 500;
  height: 28px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

hr.slim {
  margin-top: 10px;
  margin-bottom: 10px;
}
hr.x-slim {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px !important;
}

.table-body {
  text-align: left;
  font-size: 10px;
}

.table-body .btn-slim-text {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5px;
}
.table-body .error-msg {
  color: red;
  font-style: italic;
  font-size: 11px;
  border: 0;
}

.table-body .btn {
  font-size: 11px;
  padding: 2px 4px;
}

.table-body table {
  font-size: 12px;
  text-align: left;
  /* width: 80%; */
  margin: 35px 0px 0px 10px;
}

.table-body .edit-store-name .btn-default {
  margin: 0 !important;
  opacity: .6;
}

.table-body table th.header {
  background-color: white;
  color: #2196F3;
}

.table-body table td {
  padding: 2px;
}

.table-body table .control-label {
  color: #2196F3;
}

.table-body table .input-sm {
  font-size: 11px;
  height: 25px;
  line-height: 1.3;
  border-radius: 0px;
}

.table-body table th.header .heading{
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
}

.table-body table th.header .btn {
  margin-left: 10px;
}

.table-body table button {
  font-size: 12px;
  padding: 2px 4px;
}

.table-body table tr:nth-child(even) {
    background-color: #fbfbfb;
}
.table-body table th {
  border-bottom: 1px solid #EEEEEE;
  background-color: rgba(238, 238, 238, 0.959);
  padding: 4px;
}

.table-body .footer{
  margin-top: 30px;
  padding-bottom: 5px;
  border-top: 1px solid #9E9E9E;
} 
