<!DOCTYPE html>
<html>
<head>
    <title>Sample Node+AngularJS app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js" type='text/javascript'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js" type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js" ></script>
    <script src='/js/index.js' type='text/javascript'></script>
    <script>
        var sApp = angular.module('sApp', []);
        sApp.controller('IndexCtrl', function ($scope, $location, $log) {
            console.log("Entered Sample Contrl");
            $scope.pageHeader = "Search";
            $scope.el = {
                searchText: ""
            };
            $scope.firstName = $location.search().firstName || "";
            $scope.lastName = $location.search().lastName || "";
            console.log("firstName: "+$scope.firstName);
            console.log("lastName: "+$scope.lastName);
        });
    </script>
</head>

<body ng-app="sApp" ng-controller="IndexCtrl">
    <h1>Welcome {{firstName}} {{lastName}}</h1>
    
</body>
</html>